.billion-z-index {
    z-index: 999999999999 !important;
}

marker {
    z-index: 99999999999999999 !important;
}
#lector {
    // position: fixed;
    width: 100vw;
    background-color: #303030;

    top: 0;
    left: 0;

    z-index: 9999999999 !important;
    height: fit-content;

    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;

    text-align: center;
    // overflow: scroll;

    #reader-rapper {
        font-size: 19px;
        overflow: hidden;
        flex-direction: column;
        display: flex;

        align-items: center;
        justify-content: flex-start;
        overflow-y: scroll;
        

        width: 100%;
        height: fit-content;
        margin: auto;

        #reader {
            width: 80%;
            padding: 80px 140px;
            overflow-y: scroll !important;
            background: whitesmoke;

            

            &.loading {

                // *:not(table) {
                    // filter: blur(2px) contrast(0.4);
                // }

                *:not(table) {
                    > :not(table){
                        filter: contrast(0);
                        opacity: .3;
                        transition: all .2 ease;
                        // all: unset;
                    }
                }

                table {
                    color: transparent;
                }

                transition: all .2 ease;
                opacity: .3;

                color: gray !important;

                // filter: grayscale(1);
            }

            w[data-word-atom=true] {
                display: inline-block;
            }
        }
    }

    
}

// .collapsable {

//     $animation: .3s;
//     overflow: hidden;
//     transition: all $animation ease;
//     // transition: opacity 0.05s eas;

//     // min-height: 0 !important;
//     height: auto;
//     flex: 1;

//     &.collapsed{
//         flex: 0;
//     }
// }   